<!-- <div class="border m-4">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand mx-3" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="form-inline my-2 my-lg-0 d-flex">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <i class="fa-solid fa-moon m-2"></i>
      </form>
    </div>
  </nav>
</div>

<div *ngFor="let card of getData">
  <div class="card m-4">
    <div class="p-2 d-flex justify-content-between">
      <input type="checkbox" class="chk" />
      <i class="fa fa-ellipsis-v" (click)="onClick()"></i>
    </div>

    <div
      class="d-flex flex-row flex-wrap px-2 mt-2 justify-content-between align-items-center"
    >
      <p>{{ card.id }}</p>
      <p>{{ card.name }}</p>
      <p>{{ card.username }}</p>
    </div>
  </div>
</div> -->


<app-game></app-game>
<router-outlet></router-outlet>