<div class="main-container">
<div>
    <h1 class="d-flex justify-content-center text-light">Tic-Tac-Toe</h1>
</div>
<div class="d-flex justify-content-center">
    <p class="current-status  mat-display-1 text-light">start the game on the button</p>
</div>
<div *ngIf="this.game.gameStatus ===0"   class="d-flex justify-content-center mt-3">
    <button  (click)="startGame()" mat-raised-button color="accent" class="mb-3">start the game</button>
</div>

<div *ngIf="this.game.gameStatus ===1" class="gameBoard">
    <div class="player-one align-self-center">
        <p class="mat-body-1  text-danger" style="margin: 0 0 18px 20px;">Player 1</p>
    </div>
    <div class="gameField container-fluid">
        <div class="row">
            <div (click)="clickSubField($event)" position="0" class=" subField col-4"></div>
            <div (click)="clickSubField($event)" position="1" class="subField col-4"></div>
            <div (click)="clickSubField($event)" position="2" class="subField col-4"></div>
        </div>
        <div class="row">
            <div (click)="clickSubField($event)" position="3" class=" subField col-4"></div>
            <div (click)="clickSubField($event)" position="4" class="subField col-4"></div>
            <div (click)="clickSubField($event)" position="5" class="subField col-4"></div>
        </div>
        <div class="row">
            <div (click)="clickSubField($event)" position="6" class="subField col-4"></div>
            <div (click)="clickSubField($event)" position="7" class="subField col-4"></div>
            <div (click)="clickSubField($event)" position="8" class="subField col-4"></div>
        </div>
    </div>
    <div class="player-two align-self-center">
        <p class="mat-body-1  text-info" style="margin: 0 20px 18px 0;">Player 2</p>
    </div>
</div>


</div>